.header {
    display: flex;
    text-align: center;
    align-self: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: rebeccapurple;
}

h1 {
    display: inline-block;
    margin: 20px;
}

h3 {
    display: inline-block;
    margin: 20px;
}

.split {
    margin-left: auto;
}

h3:hover {
    text-decoration: underline;
    text-decoration-color: pink;
    color: lightsteelblue;
}